
#products {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #products td, #products th {
    border-right: none;
    padding: 8px;
  }
  
  #products tr {
    border-bottom: 1px solid rgb(224, 222, 222);
  }
  
  #products tr:hover {background-color: rgb(87, 148, 240);}
  
  #products th {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
   border-bottom: 1px solid rgb(224, 222, 222);
  }

  #products th:first-child {
      text-align: left;
  }

  #products td:first-child {
      text-align: left;
  }

  .active {
    height: 18px;
    width: 18px;
  }

  /* button style */

  button:hover {
      color: black;
  }

  button {
      padding: 5px 10px;
      border: none;
      border-radius: 4px;
      text-align: center;
  }

 .view-btn {
     background-color: rgb(196, 191, 191);
     color: white;
 }

 .edit-btn {
     background-color: rgb(97, 97, 247);
     color: white;
 }

 .delete-btn {
     background-color: rgb(221, 50, 101);
     color: white;
 }